bidict==0.22.0
click==8.1.3
colorama==0.4.5
dnspython==2.2.1
Flask==2.2.2
greenlet==1.1.2
importlib-metadata==4.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
six==1.16.0
Werkzeug==2.2.2
zipp==3.8.1
Flask-SQLAlchemy
Flask-Bcrypt==1.0.1
Flask-WTF==1.0.1
Flask-Login==0.6.2
email-validator==1.2.1
undetected-chromedriver==3.1.7
selenium==4.6.1
pyshorteners==1.0.1
WTForms~=3.0.1
requests~=2.28.1
