.login {
    font-family: 'Poppins', sans-serif;
    background-color: #4771cb;
    width: 100%;
    height: 100%;
    padding-bottom: 10vmin;
}

.login .back {
   padding: 3vmin;
}

.login .logcont {
    background-color: #ffffff;
    padding: 5vmin;
    width: 50%;
    border-radius: 25px;
    box-shadow: 4.0px 4.0px 4.0px hsl(204, 61%, 74%);
}

.login .logcont h1{
    font-weight: bold;
    font-size: 40px;
}

.login .back{
    color: #eeeeee;
}

.login .form-items{
    padding: 2vmin;
    border-radius: 25px;
}

.login .form-items  h1 {
    font-size: 50px;
    font-weight: bold;
    color: #0b1a3d;
    padding-bottom: 30px;
}


.login .form-items .col-md-16 {
    padding: 10px;
    width: 300px;

}

.login .form-button .btn {
    border: none;
    color: whitesmoke;
    margin-top: 20px;

    background-color: #4771cb;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 3px 3px 3px hsl(0deg 0% 0% / 0.28);

}

.login .form-button .btn:active {
    border: none;
    background-color: #4771cb;

}
