@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


/*
---------------------------------------------
global styles
---------------------------------------------
*/
html,
body {
  background: #fff;
  font-family: 'Poppins', sans-serif;
}

/*
---------------------------------------------
header
---------------------------------------------
*/
.background-header {
  background-color: #ffffff !important;
  height: 80px!important;
  position: fixed!important;
  top: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15)!important;
}

.background-header .main-nav .nav li a {
  color: #13101e;
}

.background-header .main-nav .nav li:hover a {
  color: #4771cb;
}

.background-header .nav li a.active {
  position: relative;
  color: #0b1a3d;
}

.background-header .nav li a.active:after {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #4771cb;
  content: '';
  left: 50%;
  bottom: 0px;
  transform: translateX(-10px);
}

.header-area {
  background-color: #ffffff;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 100px;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.header-area .main-nav {
  min-height: 80px;
  background: transparent;
}

.header-area .main-nav .logo h1 {
    line-height: 100px;
    float: left;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.header-area .main-nav .logo h1 img {
  max-width: 230px;
  margin-top: -10px;
  margin-left: 5px;
}

.background-header .main-nav .nav {
  margin-top: 20px !important;
}

.header-area .main-nav .nav {
  float: left;
  margin-top: 30px;
  margin-left: 100px;
  background-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}

.header-area .action-buttons{
  float: right;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}
.header-area .main-nav .nav li {
  padding-left: 20px;
  padding-right: 20px;
}



.header-area .main-nav .nav li a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  color: #FFA7E4;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
}

.header-area .main-nav .nav li:hover a,
.header-area .main-nav .nav li a.active {
  color: #6799E0!important;
}


.header-area.header-sticky {
  min-height: 80px;
}

.header-area .nav {
  margin-top: 30px;
}

.header-area.header-sticky .nav li a.active {
  color: #6799E0;
}

@media (max-width: 1200px) {
  .header-area .main-nav li {
    padding-left: 12px;
    padding-right: 12px;
  }
  .header-area .main-nav:before {
    display: none;
  }
}

.header-area .main-nav .nav-button {
  text-decoration: none;
  padding: 7px 6px;
  display: inline-block;
  transition: transform .7s ease-in-out ;
}

.header-area .main-nav  .nav-button i{
  color: #6799E0;
}
.header-area .main-nav .nav-button:hover {
transform: rotate(10deg);
}

@media (max-width: 767px) {
  .background-header .main-nav  {
    margin-top: 80px !important;
  }
  .header-area .main-nav .logo {
    color: #1e1e1e;
  }
  .header-area.header-sticky .nav li a:hover,
  .header-area.header-sticky .nav li a.active {
    color: #6799E0!important;
    opacity: 1;
  }

  .header-area {
    background-color: #ffffff;
    padding: 0px 15px;
    height: 100px;
    box-shadow: none;
    text-align: center;
  }
  .header-area .container {
    padding: 0px;
  }
  .header-area .logo {
    margin-left: 30px;
  }
  .header-area .menu-trigger {
    display: block !important;
  }
  .header-area .main-nav {
    overflow: hidden;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 60%;
    display: block;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }
  .background-header .nav {
    margin-top: 80px;
  }
  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
  }
  .header-area.header-sticky .nav {
    margin-top: 100px;
  }
  .header-area .main-nav .nav li {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #e7e7e7;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #f7f7f7 !important;
    color: #191a20 !important;
  }
  .header-area .main-nav .nav li a:hover {
    background: #eee !important;
    color: #6799E0!important;
  }

}

@media (min-width: 767px) {
  .header-area .main-nav .nav {
    display: flex !important;
  }
}

.main-nav .auth .nav-right{
    float: right;
    display: block;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-top: 30px;
}

.main-nav .auth .nav-right li{
  display: inline-block;
  padding-left: 10px ;
  padding-right: 10px;
  float: left;

}

.form-control {
	box-shadow: none;
	font-weight: normal;
	font-size: 13px;
}

 .sign-up-btn {
	min-width: 110px;
	max-height: 36px;
    font-weight: bold;
}
 .dropdown-menu {
	color: #c7c7c7;
	font-weight: normal;
	border-radius: 1px;
	border-color: #e5e5e5;
	box-shadow: 0 2px 8px rgba(0,0,0,.05);
}

 .main-nav .auth .nav-right .login {
   font-weight: bold;
   font-size: 15px;
  color: #FFA7E4;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: transparent;
  letter-spacing: 1px;
 }

 .auth .navbar-form {
	border: none;
}
 .auth .action-form {
	width: 290px;
	padding: 20px;
    border-radius: 15px;
	left: auto;
	right: 0;
	font-size: 14px;
}
 .auth .action-form a {
	color: #6799E0;
	padding: 0 !important;
	font-size: 14px;
}
.auth .action-form .hint-text {
    text-align: center;
    margin-bottom: 15px;
    font-size: 13px;
}

.auth .form-group {
  margin-top: 5px;
  margin-bottom: 5px;
}

 .auth .btn-primary, .navbar .btn-primary:active {
	color: #fff;
	background: #6799E0 !important;
	border: none;
}
 .auth .btn-primary:hover, .navbar .btn-primary:focus {
	color: #fff;
	background: #6799E0 !important;
}

.auth .action-buttons .dropdown-toggle::after {
	display: none;
}
.auth .form-check-label input {
	position: relative;
	top: 1px;
}

/*
---------------------------------------------
preloader
---------------------------------------------
*/

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/*
---------------------------------------------
main banner
---------------------------------------------
*/

.main-banner .banner{
  width: 100%;
  background: url("../image/room-bg.jpg");
  background-size: 100%;
  position: relative;
}



.main-banner .banner .content{
  width: 100%;
  height: 100%;
  padding-top: 30vmin;
  padding-bottom: 30vmin;
}

.main-banner .banner .content .title{
  padding: 8vmin 4vmin;
  width: 900px;
  text-align: center;
  margin: 0 auto;
  border-radius: 24% 76% 46% 54% / 57% 43% 57% 43%;
  box-shadow: 7.0px 13.9px 13.9px hsl(0deg 0% 0% / 0.28);
  background: #eeeeee;
  position: center;
}

.main-banner .banner .content h1{
  font-weight: bold;
  font-size: 40px;
}

.main-banner .banner .content p{
  font-weight: normal;
  font-size: 20px;
}

.service_section .custom-header h1{
  font-weight: bold;
}

.service_section {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 125px;
  background-repeat: no-repeat;
  margin-top: -130px;
}

.service_section .custom-header h1 {
  border-color: #2657a1;
}

.service_section .service_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service_section .service_container .service_box {
  width: 30%;
  min-width: 300px;
  margin: 35px 15px;
}

.service_section .service_container .service_box .img-box {
  border-radius: 18px;
  margin-top: -100px;
  overflow: hidden;
}

.service_section .service_container .service_box .img-box img {
  width: 100%;
}

.service_section .service_container .service_box .detail-box {
  margin-top: -100px;
}

.service_section .service_container .service_box .detail-box h4 {
  font-weight: bold;
}

.service_section a:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}