<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <title>Zabawkowe Okazje</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../static/css/style.css">
    <!--<link rel="stylesheet" href="../static/css/animated.css">-->
    <link rel="stylesheet" href="../static/css/owl.css">
    {% block links %}
    {% endblock %}
  </head>

<body>
<div class="lds-ripple"><div></div><div></div></div>

<!-- ***** Header Area  ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo ***** -->
              <a href="/home" class="logo">
              <h1><img src="../static/image/logo-icon.png" alt=""></h1>
            </a>

            <!-- ***** Menu ***** -->
              <div class="menu mr-auto">
                <ul class="nav">
                  <li class="scroll-to-section"><a href="/home" class="active">Strona Główna</a></li>
                  <!--<li class="scroll-to-section"><a href="#features">Features</a></li>-->
                  <li class="scroll-to-section"><a href="/about">O nas</a></li>

                  <li class="scroll-to-section"><a href="/contact">Kontakt</a></li>
    {#              {% if current_user.is_authenticated %}#}
    {#              <a href="{{ url_for('logout_page') }}" class="nav-link login">Logout</a>#}
    {#              {% else %}#}
    {#              <li class="scroll-to-section"><a href="/login">Login</a></li>#}
    {#              <li class="scroll-to-section"><a href="/signin">Sign In</a></li>#}
    {#              {% endif %}#}

                </ul>
              </div>


              <div class="auth action-buttons ml-auto">
                  <ul class="nav-right">
                      <li>
                          <div class="nav-button">
                                <i href="/list" class="fa-solid fa-list-ul fa-fw fa-lg"></i>
                          </div>
                      </li>
                      <li>
                        <div class="nav-button">
                            <i href="/cart" class="fa-solid fa-cart-shopping fa-fw fa-lg" ></i>
                        </div>
                      </li>
                      <li>
                        <div class="nav-item dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link login dropdown-toggle mr-4">Zaloguj się</a>
                        <div class="dropdown-menu action-form text-center">
                            <form>
                                <p class="hint-text">Welcome back!</p>

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Username" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password" required="required">
                                </div>
                                <input type="submit" class="btn btn-primary btn-block" value="Login">
                                <div class="text-center mt-2">
                                    <a href="#">Forgot Your password?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                      </li>
                      <li>
                        <div class="nav-item dropdown">
                        <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle sign-up-btn">Rejestracja</a>
                        <div class="dropdown-menu action-form text-center">
                            <form>
                                <p class="hint-text">Fill in this form to create your account!</p>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Username" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Email" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Confirm Password" required="required">
                                </div>
                                <div class="form-group">
                                    <label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="#">Terms &amp; Conditions</a></label>
                                </div>
                                <input type="submit" class="btn btn-primary btn-block" value="Sign up">
                            </form>
                        </div>
                    </div>
                      </li>
                  </ul>
              </div>

          </nav>
        </div>
      </div>
    </div>
  </header>
{% block content %}
{% endblock %}

{% block scripts %}

{% endblock %}
</body>
</html>