<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <title>Zabawkowe Okazje</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
      {% block links %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/owl.css">
    <link rel="stylesheet" href="../static/css/list.css">
    <link rel="stylesheet" href="../static/css/login_register.css">
    <link rel="stylesheet" href="../static/css/profile.css">
    <link rel="icon" href="../static/image/favicon.ico" type="image/x-icon">
    {% endblock %}
  </head>

<body>
<div class="lds-ripple"><div></div><div></div></div>

<!-- ***** Header Area  ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo ***** -->
              <a href="/home" class="logo">
              <h1><img src="../static/image/logo-icon.png" alt=""></h1>
            </a>

            <!-- ***** Menu ***** -->
              <div class="menu mr-auto">
                <ul class="nav">
                  <li class="scroll-to-section"><a href="/home" class="active">Strona Główna</a></li>
                  <li class="scroll-to-section" ><a type="button" onclick="scrolldiv()">O nas</a></li>
                  <li class="scroll-to-section"><a href="/contact">Kontakt</a></li>


                </ul>
              </div>


              <div class="auth action-buttons ml-auto">
                  <ul class="nav-right">
                      <li>
                          <div class="nav-button">
                                <a href="/list"><i class="fa-solid fa-magnifying-glass fa-fw fa-lg" ></i></a>
                          </div>
                      </li>

                      {% if not current_user.is_authenticated %}
                      <li>
                        <div class="nav-item dropdown">
                        <a href="/login" class="nav-link login mr-4">Zaloguj się</a>
                    </div>
                      </li>
                      <li>
                        <div class="nav-item dropdown">
                        <a href="/signin" class="btn btn-primary sign-up-btn">Rejestracja</a>
                    </div>
                      </li>
                      {% elif current_user.is_authenticated  %}
                       <li>
                        <div class="nav-button">
                            <a href="/profile"> <i class="fa-solid fa-user fa-fw fa-lg" ></i></a>
                        </div>
                      </li>
                        <li>
                            <div class="nav-item dropdown">
                            <a href="/logout" class="btn btn-primary sign-up-btn">Logout</a>
                            </div>
                        </li>
                      {% endif %}
                  </ul>
              </div>

          </nav>
        </div>
      </div>
    </div>
  {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
           {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                  <button type="button" class="m1-2 mb-1 close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true"><i class="fa-regular fa-circle-xmark"></i></span>
                  </button>
                  {{ message }}
              </div>
           {% endfor %}
        {% endif %}
      {% endwith %}
  </header>
<script>
    function scrolldiv(){
        window.scroll(0,800);
    }
</script>
{% block content %}
{% endblock %}

{% block scripts %}

{% endblock %}
</body>
</html>