{% extends 'base.html' %}


{% block content %}
<main>
    <div class="main-banner">
      <div class="container-fluid p-0">
        <div class="banner">
          <div class="background-room"></div>
          <div class="content text-center">
            <h1>Welcome to Zabawkowe Okazje</h1>
            <p>An ultimate place with toys</p>
          </div>
        </div>
      </div>
    </div>
  </main>

{% endblock %}
{% block scripts %}
<script src="https://kit.fontawesome.com/05a09beaf0.js" crossorigin="anonymous"></script>
{% endblock %}