{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="search text-center">
            <div class="container">
                <div class="s004">
                  <form>
                    <fieldset>
                      <legend>CZEGO SZUKASZ?</legend>
                        <p id="wpisz">Wpisz lub Dodaj plik tekstowy</p>

                      <div class="dropzone" id="plik" hidden="hidden">
                        <div class="dz-message needsclick">
                            <h1>Upuść pliki tutaj lub kliknij, aby przesłać.</h1>
                        </div>
                      </div>

                      <div>

                      </div>
                      <div class="inner-form" id="tekst">
                        <div class="input-field">
                          <input class="form-control" id="choices-text-preset-values" type="text" placeholder="Type to search..." />
                          <button class="btn-search" type="button" onclick="search()">
                            <i class="fa-solid fa-magnifying-glass"></i>
                          </button>
                        </div>
                      </div>
                        <a type="button" id="guzikzamiany" onclick="toggleFileInput();">Plik <i class="fa-solid fa-upload"></i> </a>
                        <button type="button" class="b" id="guzikplik" hidden onclick="searchbyfile()">
                            Wyszukaj
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </fieldset>
                  </form>
                </div>
            </div>
        </div>

        <div class="container main list text-center align-content-between" id="list">
            <div class=" posortuj" id="posortuj">
                <div class="panel">
                    <h5>Posortuj według:</h5>

                    <div class="section-body">
                        <ul class="menu-list">
                          <li class="menu-group"><a type="button" onclick="sortByPrice();">Ceny</a></li>
                          <li class="menu-group"><a type="button" onclick="sortByShop();">Sklepy</a></li>
                        </ul>
                    </div>

                 </div>
                 <div>
                        {% if current_user.is_authenticated %}
                            <a class="export" href="{{ url_for('getfile') }}">Export <i class="fa-solid fa-file-export"></i></a>
                        {% endif %}
                 </div>
            </div>

            <div class="list-panel" id="centered">
            </div>

        </div>
    </main>
{% endblock %}

{% block scripts %}

<script src="https://kit.fontawesome.com/05a09beaf0.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script>
    products = [];
    algorithmData ={};

    $(document).ready(function(){
        $(".dropzone").dropzone({
          url: '/upload',
          width: 300,
          height: 300,
          progressBarWidth: '100%',
          maxFileSize: '5MB',
          maxFiles: 1,
          acceptedFiles: '.txt'
        })
    });

    function toggleFileInput() {
    const fileInput = document.getElementById("plik");
    const textInput = document.getElementById("tekst");
    const toggleButton = document.getElementById("guzikzamiany");
    const fileButton = document.getElementById("guzikplik");
  
    if (fileInput.hasAttribute("hidden")) {
        textInput.setAttribute("hidden", true);
        fileInput.removeAttribute("hidden");
        toggleButton.innerText = "Tekst";
        fileButton.removeAttribute("hidden");
    } else {
        textInput.removeAttribute("hidden");
        fileInput.setAttribute("hidden", true);
        fileButton.setAttribute("hidden", true);
        toggleButton.innerHTML = "Plik " + `<i class="fa-solid fa-upload"></i>`;
    }
}

    var textPresetVal = new Choices('#choices-text-preset-values',
    {
      removeItemButton: true,
    });

    function convert(items){
        var rows = [];
        for (var key in items) {
            var row = items[key];
            rows.push({
              img_src: `<img src="${row.img_src}">`,
              nazwa: row.nazwa,
                link: row.link,
              sklep: row.sklep,
              cena: row.cena,
              cena_dostawy: row.cena_dostawy
            });
          }
        return rows
    }


    function robienietabeli(){
        const ListTxt = document.querySelector('.list-panel')

        let tableHTML = `<table id="tabelawynikow"">
                            <thead class="row-hist">
                                <th>Fotka</th>
                                <th>Nazwa</th>
                                <th>Sklep</th>
                                <th>Cena</th>
                                <th>Cena dostawy</th>
                            </thead>
                            <tbody id="wyniki">
                            </tbody>
                        </table>`
        ListTxt.insertAdjacentHTML("beforeend", tableHTML);
    }

    function dodawanieDoTabeli(items) {
        if (document.getElementById('tabelawynikow') == null) {
          robienietabeli();
        }
        let table = document.getElementById('wyniki');
        let rowsHTML = '';

        for (let i = 0; i < items.length; i++) {
          rowsHTML += `<tr>
                        <td><img src="${items[i].img_src}"></td>
                        <td class="link"><a href="${items[i].link}">${items[i].nazwa}</a></td>
                        <td>${items[i].sklep}</td>
                        <td>${items[i].cena}</td>
                        <td>${items[i].cena_dostawy}</td>
                      </tr>`;
        }

        table.insertAdjacentHTML('beforeend', rowsHTML);
    }

    function sortByPrice(){
      deletetab()
      robienietabeli()
      dodawanieDoTabeli(algorithmData["TLP"])
    }

    function sortByShop(){
      deletetab()
      robienietabeli()
      dodawanieDoTabeli(algorithmData["TFS"])
    }

    function searchbyfile(){
        const mydiv = document.getElementById("list");
        mydiv.style.display = "block";
        const params = {params: null}
        fetch('/ceneo', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(
              params,
          )
        })
        .then(response => response.json())
        .then(lista => {
            findProduct(lista)
        });
    }

    function search(){

      const mydiv = document.getElementById("list");
      mydiv.style.display = "block";
      let params = {params: document.getElementById("choices-text-preset-values").value};
      fetch('/ceneo', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(
            params,
        )
      })
      .then(response => response.json())
      .then(lista => {
          findProduct(lista)
      });
    }


    function findProduct(list) {
        let params = list["nazwy"];
        let notFound = list["nieznalezione"];
        let found = list["znalezione"];
        
        if (Object.keys(found).length != 0) {
            for (let i = 0; i <= found.length; i++) {
                if (found[i] != undefined) {
                    products.push(found[i]);
                }
            }
        }
        if (Object.keys(notFound).length != 0) {
            for (let i = 0; i < params.length; i++) {
                if (notFound[params[i]] != undefined) {
                    createName(params[i]);
                    const productDetails = notFound[params[i]];
                    createTable(Object.keys(productDetails).length, productDetails, params[i]);
                }
            }
        }
    }

function createTable(rows, json, string) {
          var table = document.createElement('table');
          table.setAttribute("id", "table");
          table.setAttribute('data-string', string)  
          var tbody = document.createElement('tbody');
          for (var i = 0; i < rows-1; i=i+2) {
            if (i == 10 || i == 0) {
                var tr = document.createElement('tr');
            }
            var td = document.createElement('td');
            var button = document.createElement('button');
            button.className = 'list-button';
            button.setAttribute('role', 'button');
            const key = `num${i+1}`;
            const img = `num${i}`;
            button.id = json[key].toString().replace(' ','-');
            button.setAttribute('nazwa', json[key])
            button.setAttribute('data-string', string)
            button.innerHTML = `<img src="${json[img]}">` + `<br>` + json[key];
            button.onclick = function() {
                searchv2(this.id);
            };
            td.appendChild(button);
            tr.appendChild(td);
            tbody.appendChild(tr);
          }
          table.appendChild(tbody);
          document.getElementById("centered").appendChild(table);
        }


    function createName(string) {
        let mainDiv = document.createElement('div');
        mainDiv.setAttribute("align", "center");
        mainDiv.setAttribute("id", "mytable");
        mainDiv.setAttribute("data-string", string);
        string = string.toUpperCase();
        let heading = document.createElement('h4');
        let instruct = document.createElement('p');
        heading.textContent = ` ${string}`;
        instruct.textContent = `Wybierz jedną z propozycji:`
        mainDiv.appendChild(heading);
        mainDiv.appendChild(instruct);
        document.getElementById("centered").appendChild(mainDiv);
    }

    function searchv2(clickedId) {
        const name = document.getElementById(clickedId).getAttribute('nazwa');
        const string = document.getElementById(clickedId).getAttribute('data-string');
        const params = {params: name};
        deleteExisting(string);
        fetch('/ceneo', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(params)
        })
        .then(response => response.json())
        .then(list => {
            if (list['znalezione'] != undefined) {
                for (let i = 0; i <= list['znalezione'].length; i++) {
                    if (list['znalezione'][i] != undefined){
                        if (products.length != 0) {
                            list['znalezione'][i].ID = products[products.length - 1].ID + 1;
                        }
                        products.push(list['znalezione'][i]);
                    }
                }
                deletetab();
                algorithm(products);
            }
            if (Object.keys(list['nieznalezione']).length != 0) {
                for (let i = 0; i < params.length; i++) {
                    if (list['nieznalezione'][params[i]] != undefined) {
                        createName(params[i]);
                        const productDetails = list['nieznalezione'][params[i]];
                        createTable(Object.keys(productDetails).length, productDetails, params[i]);
                    }
                }
            }
        });
    }

    function deleteExisting(string) {
        $("[data-string='"+string+"']").remove();
    }

    function deletetab() {
      $("#tabelawynikow").remove();
    }

    function algorithm(prods){
      console.log(prods)
      fetch('/algorithm', {
        method: 'POST',
        body: JSON.stringify({
          products: prods
        }),
        headers: {
          'Content-Type': 'application/json'
        }
      }).then(response => response.json())
        .then(data => {
                algorithmData = data;
              });
    }

    function MakeTalbe(){
      deletetab()
      
    }

    </script>
{% endblock %}
