{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="search text-center">
            <div class="container">
                <div class="s004">
                  <form>
                    <fieldset>
                      <legend>CZEGO SZUKASZ?</legend>
                      <div class="inner-form">
                        <div class="input-field">
                          <input class="form-control" id="choices-text-preset-values" type="text" placeholder="Type to search..." />
                          <button class="btn-search" type="button" onclick="displayList()">
                            <i class="fa-solid fa-magnifying-glass"></i>
                          </button>
                        </div>
                      </div>
                    </fieldset>
                  </form>

                </div>

            </div>
        </div>

        <div class="container main list" id="list">
            <div class="col-md-3">
                <section class="panel">
                    <header class="panel-heading">
                        Posortuj według:
                    </header>
                    <div class="section-body">
                        <ul class="menu-list">
                          <li class="menu-group"><a class="text-underlined">Ceny</a></li>
                          <li class="menu-group"><a class="text-underlined">Nazwy</a></li>
                        </ul>
                    </div>
                </section>
                <section class="panel">
                    <header class="panel-heading">

                    </header>
                </section>
            </div>

            <div class="list-panel", id="centered">
                <div align="center" id="mytable">
                    <h4>Wybierz jedną z opcji:</h4>

                  </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}

<script src="https://kit.fontawesome.com/05a09beaf0.js" crossorigin="anonymous"></script>
<script src="../static/js/extention/choices.js"></script>
<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js">
    </script>
    <script>
      var textPresetVal = new Choices('#choices-text-preset-values',
      {
        removeItemButton: true,
      });

      function createTable(rows) {
          var table = document.createElement('table');
          table.setAttribute("id", "table");
          //table.setAttribute("class", "list-panel");
          var tbody = document.createElement('tbody');

          for (var i = 0; i < rows; i++) {
            var tr = document.createElement('tr');
            var td = document.createElement('td');
            var button = document.createElement('button');
            button.className = 'btn-primary';
            button.setAttribute('role', 'button');
            button.id = (i+1).toString();
            button.onclick = function() {
                show_toy(this.id);
            };
            td.appendChild(button);
            tr.appendChild(td);
            tbody.appendChild(tr);
          }

          table.appendChild(tbody);
          document.getElementById("centered").appendChild(table);
        }

      function displayList(){
          var myarr = document.getElementById("choices-text-preset-values").value.split(",");
          if(myarr.length>10){
              alert("Proszę wybrać do 10 produktów")
          }else{
              var mydiv = document.getElementById("list");
              mydiv.style.display = "block";
              const params = {params: document.getElementById("choices-text-preset-values").value};
              fetch('http://127.0.0.1:5000/ceneo', {
              method: 'POST', headers: {"Content-Type":
              'application/json'}, body: JSON.stringify(params),
              }).then((response) => response.json().then((mydict) => {
                 console.log(mydict);
                 deleteExisting();
                 createTable(Object.keys(mydict).length);
                 show_json(mydict);

              }
              )).catch((error) => {console.log(error)});
          }


      }

      function show_json(json){

          document.getElementById("1").innerHTML = json.jeden;
          document.getElementById("2").innerHTML = json.dwa;
          document.getElementById("3").innerHTML = json.trzy;
          document.getElementById("4").innerHTML = json.cztery;
          document.getElementById("5").innerHTML = json.pięć;
          document.getElementById("6").innerHTML = json.sześć;
          document.getElementById("7").innerHTML = json.siedem;
          document.getElementById("8").innerHTML = json.osiem;
          document.getElementById("9").innerHTML = json.dziewięć;
          document.getElementById("10").innerHTML = json.dziesięć;
      }

      function show_toy(clicked_id){
          alert(clicked_id);
          const params = {params: document.getElementById("choices-text-preset-values").value,
          number: clicked_id};
        fetch('http://127.0.0.1:5000/show_choice', {
              method: 'POST', headers: {"Content-Type":
              'application/json'}, body: JSON.stringify(params),
              }).then((response) => response.json().then((d1) => {
                 console.log(d1);
                 alert(JSON.stringify(d1));
          }
              )).catch((error) => {console.log(error)});

      }
      function deleteExisting() {
            $("#table").remove();

        }




    </script>
{% endblock %}
