{% extends 'base.html' %}



{% block links %}
<link rel="stylesheet" href="../static/css/login_register.css">
{% endblock %}

{% block content %}
<main>
        <div class="login p-0">
            <div class="back">
                <a href="/"><i class="fa-solid fa-angle-left fa-2xl"></i></a>
            </div>
            <div class="logcont container p-2">
                <div class="d-flex flex-md-row flex-wrap text-center justify-content-center">
                    <div class="form-items log-items">
                        <h1>Log in</h1>
                        <form method="POST" class="form-signin">
                            {{ form.hidden_tag() }}
                            <div class="col-md-16">
                               {{ form.username(class="form-control", placeholder="Username") }}
                            </div>
                           <div class="col-md-16">
                              {{ form.password(class="form-control", placeholder="Password") }}
                           </div>
                            <div class="form-button mt-3">
                                {{ form.submit(class="btn") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>


{% endblock %}
{% block scripts %}
<script src="https://kit.fontawesome.com/05a09beaf0.js" crossorigin="anonymous"></script>
{% endblock %}