{% extends 'base.html' %}


{% block content %}
<main>

            <div class="container-log">
                <div class="screen">
                    <div class="screen__content">
                        <a class="backhome" href="/home"><i class="fa-solid fa-arrow-left-long fa-lg"></i></a>
                        <form method="POST" class="form-signin login">
                            {{ form.hidden_tag() }}
                            <div class="login__field">
                               {{ form.username(class="form-control login__input", placeholder="Username") }}
                            </div>
                           <div class="login__field">
                              {{ form.password(class="form-control login__input", placeholder="Password") }}
                           </div>
                            <button class="button login__submit">
                                {{ form.submit(class="button__text") }}
                                <i class="button__icon fas fa-chevron-right"></i>
                            </button>
                        </form>
                    </div>
                    <div class="screen__background">
                        <span class="screen__background__shape screen__background__shape4"></span>
                        <span class="screen__background__shape screen__background__shape3"></span>
                        <span class="screen__background__shape screen__background__shape2"></span>
                        <span class="screen__background__shape screen__background__shape1"></span>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
<script src="https://kit.fontawesome.com/05a09beaf0.js" crossorigin="anonymous"></script>
{% endblock %}